<div class="container">
  <h2 style="text-align: center;">Create List</h2>
  <div class="col">
    <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit class: "btn btn-success"%>
    <% end %>
  </div>
</div>
